services:
  pocketbase:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: klokk-backend
    restart: always
    expose:
      - 8090
    volumes:
      - pb_data:/pb/pb_data
    environnement:
      - POCKETBASE_PORT_NUMBER=8090
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8090/_/"]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  pb_data: {}